body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
}

.card {
  /* width: 500px; */
  height: 500px;
  padding: 2rem;
  /* height: 80vh; */
  border-radius: 13px;
  background-color: rgb(216, 238, 248);
}

.city {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
}

input {
  outline: none;
  height: 40px;
  font-size: 15px;
  border-radius: 8px;
  padding: 4px;
  border: none;
  /* width: 300px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
  background-color: #fff;
  border: none;
  padding: 0 1rem;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.error-message {
  margin-top: 2rem;
  color: red;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.desc {
  margin-top: -12px;
  padding-left: 20px;
  /* background-color: red; */
}

.weather-temp h2 {
  font-size: 2rem;
  color: rgb(246, 152, 69);
}
